* {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    user-select: none;
    color: #616161;
}

:root {
    --white: #ffffff;
    --pri-color-main: #b2dfdb;
    --pri-color-dark: #80cbc4;
    --pri-color-light: #e5ffff;
    --sec-color-main: #b3e5fc;
    --sec-color-dark: #82b3c9;
    --sec-color-light: #e6ffff;
    --navbar-text: #c88719;
    --navbar-text-hover: #ffca28;
}

/* NAVBAR */
.color-nav {
    background-color: #ffecb3;
    height: 8vh;
    font-size: 2.5vmin;
}

.navbar-brand#site-name {
    font-size: 3.75vmin;
    letter-spacing: 1.8px;
    font-weight: 700;
    color: var(--navbar-text);
}

#basic-navbar-nav a {
    padding-left: 30%;
    font-size: 2vmin;
    letter-spacing: 1.8px;
    font-weight: 700;
    color: var(--navbar-text);
    transition: all 0.25s ease 0s;
}

#basic-navbar-nav a:hover {
    font-size: 2.15vmin;
    color: var(--navbar-text-hover);
}

#basic-navbar-nav > a {
    font-size: 2vmin;
    padding-left: 16px;
}

/* FORM BASICS */
form {
    width: 100%;
    text-align: center;
}

input.form-control {
    width: 25%;
    height: 5vh;
    margin: auto;
}

div.form-group {
    text-align: center;
    font-size: 2.5vmin;
    font-weight: 500;
}

/* LOGIN AND SIGNUP PAGES */
div#signup-form {
    display: flex;
    margin-top: 15vh;
    margin-bottom: 15vh;
    overflow: auto;
}

#signup-form table {
    margin: auto;
    width: 100%;
}

#signup-form table input {
    width: 75%;
}

#signup-form table td.left-col,
#signup-form table td.right-col {
    width: 50%;
}

#signup-form table td.left-col div.form-group {
    padding-left: 40%;
}

#signup-form table td.right-col div.form-group {
    padding-right: 40%;
}

div#login-form {
    display: flex;
    margin-top: 30vh;
    margin-bottom: 30vh;
    overflow: auto;
    flex-direction: column;
}

div#creation-status {
    margin: auto;
    margin-bottom: 5vh;
}

#login-submit,
#signup-submit {
    height: 5vh;
    padding: 0;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 10vh;
    width: 25%;
    font-size: 2.5vmin;
    font-weight: 650;
}

/* LANDING PAGE */
#landing-buttons {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

#login-button,
#signup-button {
    padding: 0;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 25%;
    display: block;
    font-size: 2.5vmin;
    font-weight: 650;
}

#landing-buttons #login-button {
    margin-right: 1vw;
}

#landing-buttons #signup-button {
    margin-left: 1vw;
}

/* BUTTON STYLING */
button.btn {
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 5%;
    border: none;
    border-radius: 35px;
    background-color: var(--pri-color-main);
    color: var(--white);
    box-shadow: 0px 8px 15px #00000026;
    transition: all 0.25s ease 0s;
    cursor: pointer;
    outline: none;
}

button.btn:hover {
    background-color: var(--pri-color-dark);
    color: var(--white);
    box-shadow: 0px 15px 20px #00000031;
    color: #fff;
    transform: translateY(-3px);
}

button.btn:focus {
    background-color: var(--pri-color-dark);
    color: var(--white);
}

button.btn:active {
    background-color: var(--pri-color-light);
    color: var(--white);
}

button.btn:disabled {
    background-color: var(--pri-color-main);
}

/* PROFILE LEFT PANEL */
img.profile-pic {
    object-fit: cover;
    border-radius: 50%;
    height: 25vmin;
    width: 25vmin;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--pri-color-dark);
    box-shadow: 0px 8px 15px #00000026;
    transition: all 0.25s ease 0s;
}

img.profile-pic:hover {
    color: var(--white);
    box-shadow: 0px 15px 20px #00000031;
    color: #fff;
    transform: translateY(-3px);
}

#profile-left {
    min-width: 33%;
    padding: 0;
    padding-right: 5px;
    padding-left: 5px;
    height: 92vh;
    background-image: url("images/panel_bg.jpeg");
    background-size: cover;
    text-align: center;
}

#profile-left figure {
    padding-top: 6vh;
}

#profile-left figcaption {
    text-transform: uppercase;
    font-size: 2.5vmin;
    letter-spacing: 1.8px;
    font-weight: 700;
    padding-top: 2vh;
}

button.btn#edit-profile {
    padding: 0;
    margin: 7% auto;
    width: 45%;
    display: block;
    font-size: 1.8vmin;
}

/* PROFILE MIDDLE PANEL */

#profile-middle {
    min-width: 33%;
    height: 92vh;
    max-height: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pet-info,
#owner-info {
    font-size: 2.2vmin;
    border: none;
    border-radius: 25px;
    height: 42vh;
    margin: 8%;
    background-image: url("images/panel_bg.jpeg");
    background-size: cover;
    border: 3px solid var(--pri-color-dark);
    box-shadow: 0px 8px 15px #00000026;
    transition: all 0.25s ease 0s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pet-info {
    height: 55vh;
    margin-bottom: 0%;
}

#pet-info div,
#owner-info div {
    margin: 3%;
}

#pet-info img,
#owner-info img {
    height: 3vmin;
    margin-right: 8px;
    /* width: 3.5vmin; */
}

#pet-info:hover,
#owner-info:hover {
    box-shadow: 0px 15px 20px #00000031;
    transform: translateY(-3px);
}

#pet-info-title,
#owner-info-title {
    font-size: 2.4vmin;
    letter-spacing: 1.8px;
    font-weight: 700;
}

/* PROFILE RIGHT PANEL */

#profile-right {
    min-width: 33%;
    max-height: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pet-metrics {
    font-size: 2.2vmin;
    margin: 8%;
    margin-left: 0%;
    height: 94%;
    border: none;
    border-radius: 25px;
    border: 3px solid var(--pri-color-dark);
    box-shadow: 0px 8px 15px #00000026;
    transition: all 0.25s ease 0s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("images/panel_bg.jpeg");
    background-size: cover;
}

#pet-metrics:hover {
    box-shadow: 0px 15px 20px #00000031;
    transform: translateY(-3px);
}

div.container#profile-container {
    margin: 0;
    max-width: 100%;
}
