* {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    user-select: none;
    color: #616161;
}

body,
html,
#root {
    height: 100%;
}

:root {
    --white: #ffffff;
    --pri-color-main: #b2dfdb;
    --pri-color-dark: #80cbc4;
    --pri-color-light: #e5ffff;
    --sec-color-main: #b3e5fc;
    --sec-color-dark: #82b3c9;
    --sec-color-light: #e6ffff;
    --navbar-text: #c88719;
    --navbar-text-hover: #ffca28;
    --bg: #fafafa;
    --delete: #ef9a9a;
    --delete-dark: #ef5350;
}

/* NAVBAR */

img#logo {
    padding-right: 5%;
    height: 40px;
}

.color-nav {
    background-color: #ffecb3;
}

.navbar-brand#site-name {
    font-size: 1.75em;
    letter-spacing: 1.8px;
    font-weight: 700;
    color: var(--navbar-text);
}

.navbar-text#current-user {
    padding-left: 45px;
    padding-right: 45px;
    font-size: 1em;
    letter-spacing: 1.8px;
    font-weight: 700;
    color: var(--navbar-text);
}

#basic-navbar-nav a {
    padding-left: 45px;
    font-size: 1em;
    letter-spacing: 1.8px;
    font-weight: 700;
    color: var(--navbar-text);
    transition: all 0.25s ease 0s;
}

#basic-navbar-nav a:hover {
    font-size: 1.05em;
    color: var(--navbar-text-hover);
}

#basic-navbar-nav > a {
    font-size: 1em;
    padding-left: 45px;
}

/* FORM BASICS */

form {
    width: 100%;
    text-align: center;
}

input.form-control {
    width: 25%;
    height: 2.1em;
    margin: auto;
}

div.form-group {
    text-align: center;
    font-size: 1.15em;
    font-weight: 500;
}

/* LOGIN AND SIGNUP PAGES */

#signup-form table {
    margin: auto;
    width: 100%;
}

#signup-form table input {
    width: 75%;
}

#signup-form table td.left-col,
#signup-form table td.right-col {
    width: 50%;
}

#signup-form table td.left-col div.form-group {
    padding-left: 40%;
}

#signup-form table td.right-col div.form-group {
    padding-right: 40%;
}

div#creation-status {
    margin: auto;
    margin-top: 0;
    margin-bottom: 2em;
}

#login-submit,
#signup-submit {
    height: 2.1em;
    padding: 0;
    margin: auto;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    width: 25%;
    font-size: 1.15em;
    font-weight: 650;
}

/* LANDING PAGE */

#landing-buttons,
#login-form,
#signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    overflow: auto;
    padding-top: 100px;
    padding-bottom: 70px;
}

#login-form {
    flex-direction: column;
}

#login-button,
#signup-button {
    padding: 0;
    margin: auto;
    height: 2.1em;
    width: 25%;
    display: block;
    font-size: 1.15em;
    font-weight: 650;
}

#landing-buttons #login-button {
    margin-right: 1%;
}

#landing-buttons #signup-button {
    margin-left: 1%;
}

/* BUTTON STYLING */

button.btn {
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    border-radius: 35px;
    background-color: var(--pri-color-main);
    color: var(--white);
    box-shadow: 0px 8px 15px #00000026;
    transition: all 0.25s ease 0s;
    cursor: pointer;
    outline: none;
}

button.btn:hover {
    background-color: var(--pri-color-dark);
    color: var(--white);
    box-shadow: 0px 15px 20px #00000031;
    color: #fff;
    transform: translateY(-3px);
}

button.btn:focus {
    background-color: var(--pri-color-dark);
    color: var(--white);
}

button.btn:active {
    background-color: var(--pri-color-light);
    color: var(--white);
}

button.btn:disabled {
    background-color: var(--pri-color-main);
}

/* PROFILE PAGE GENERALS */

div.container#profile-container {
    margin: 0;
    max-width: 100%;
    height: 90%;
}

#profile-row {
    height: 100%;
}

/* PROFILE LEFT PANEL */

.profile-left img.profile-pic,
img.match-profile-pic {
    object-fit: cover;
    border-radius: 50%;
    height: 12vw;
    width: 12vw;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--pri-color-dark);
    box-shadow: 0px 8px 15px #00000026;
    transition: all 0.25s ease 0s;
}

.profile-left img.profile-pic:hover {
    color: var(--white);
    box-shadow: 0px 15px 20px #00000031;
    color: #fff;
    transform: translateY(-3px);
}

.profile-left {
    min-width: 33%;
    padding: 0;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-image: url("images/panel_bg.jpeg");
    background-size: cover;
    text-align: center;
    overflow: auto;
}

.profile-left figure {
    padding-top: 2em;
    margin-bottom: 0;
}

.profile-left figcaption {
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1.8px;
    font-weight: 700;
    padding-top: 0.8em;
}

.profile-left #profile-buttons {
    width: 100%;
}

.profile-left button.btn#edit-profile,
.profile-left button.btn#delete-profile,
.profile-left button.btn#done-editing {
    padding: 0;
    margin: auto;
    width: 45%;
    display: block;
    font-size: 0.8em;
    height: 35px;
}

.profile-left button.btn#edit-profile,
.profile-left button.btn#done-editing {
    margin-top: 40px;
    margin-bottom: 15px;
}

/* PROFILE MIDDLE PANEL */

.profile-middle {
    min-width: 33%;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 100px;
    background: var(--bg);
}

.profile-middle .pet-info,
.profile-middle .owner-info {
    font-size: 1em;
    border: none;
    border-radius: 25px;
    margin-top: 25px;
    margin-left: 6%;
    margin-right: 6%;
    display: block;
    background-image: url("images/panel_bg.jpeg");
    background-size: cover;
    border: 3px solid var(--pri-color-dark);
    box-shadow: 0px 8px 15px #00000026;
    transition: all 0.25s ease 0s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-middle .pet-info {
    height: 310px;
    margin-bottom: 0%;
}

.profile-middle .owner-info {
    height: 245px;
}

.profile-middle .pet-info div,
.profile-middle .owner-info div {
    margin: 1em;
}

.profile-middle span {
    word-break: break-word;
}

.profile-middle .pet-info img,
.profile-middle .owner-info img {
    height: 1.3em;
    margin-right: 8px;
}

.profile-middle .pet-info:hover,
.profile-middle .owner-info:hover {
    box-shadow: 0px 15px 20px #00000031;
    transform: translateY(-3px);
}

header.panel-title {
    font-size: 1.1em;
    letter-spacing: 1.8px;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

/* PROFILE RIGHT PANEL */

.profile-right {
    min-width: 33%;
    padding: 0;
    padding-top: 25px;
    background: var(--bg);
}

.profile-right .pet-metrics {
    font-size: 1em;
    margin-right: 8%;
    margin-top: 25px;
    margin-left: 0%;
    height: 580px;
    border: none;
    border-radius: 25px;
    border: 3px solid var(--pri-color-dark);
    box-shadow: 0px 8px 15px #00000026;
    transition: all 0.25s ease 0s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("images/panel_bg.jpeg");
    background-size: cover;
}

.profile-right .pet-metrics:hover {
    box-shadow: 0px 15px 20px #00000031;
    transform: translateY(-3px);
}

.profile-right .pet-metrics > div.pet-trait {
    margin: 3%;
    margin-bottom: 0.25%;
}

.profile-right .pet-interests {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.profile-right .pet-interests > div {
    padding-top: 3%;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .profile-middle .pet-info,
    .profile-middle .owner-info,
    .profile-right .pet-metrics {
        font-size: 0.8em;
    }
    button.btn#edit-profile,
    button.btn#delete-profile,
    button.btn#done-editing {
        font-size: 0.6em;
        width: 55%;
    }
    header.panel-title {
        font-size: 1em;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .profile-middle .pet-info,
    .profile-middle .owner-info,
    .profile-right .pet-metrics {
        font-size: 0.65em;
    }
    button.btn#edit-profile,
    button.btn#delete-profile,
    button.btn#done-editing {
        font-size: 0.35em;
        width: 65%;
    }
    header.panel-title {
        font-size: 0.9em;
    }
}

/* EDIT PROFILE */

.profile-left #pet-name-input,
.profile-left #owner-name-input {
    margin-top: 20px;
}

.profile-middle > input,
.profile-right > input {
    width: 80%;
}

.profile-middle #owner-location-input {
    text-align: center;
}

.profile-middle #owner-state-input {
    width: 10%;
}

.profile-middle #owner-city-input {
    width: 40%;
    margin-right: 1%;
}

.profile-right .pet-interests {
    width: 100%;
}

.profile-right #interests-input {
    width: 100%;
    resize: none;
    height: 75%;
}

.profile-image-container {
    position: relative;
}

div.fileUploader {
    width: 35%;
    margin: auto;
    background-color: #ffffff00;
    position: absolute;
    top: 32px;
    left: 32.5%;
}

div.fileContainer {
    padding: 0;
    margin: 0;
    background-color: #ffffff00;
    box-shadow: none;
}

.fileContainer .chooseFileButton {
    margin: 0;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    background: none;
}

.fileContainer .chooseFileButton :nth-child(1) {
    font-size: 0em;
    transition: all 0.25s ease 0s;
}

.fileContainer .chooseFileButton:hover {
    background: #00000031;
}

.fileContainer .chooseFileButton:hover :nth-child(1) {
    font-size: 2em;
    color: var(--pri-color-dark);
}

i.fa-upload {
    font-size: 2em;
    color: var(--pri-color-dark);
}

div.errorMessage {
    margin-top: -20px;
    width: 30vw;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
}

div.spinner-border {
    display: none;
}

/* Resource Locator */
div #map-container,
div #matches-outer-container {
    text-align: center;
    margin-top: 25px;
}

div #map-loading-text,
div #matches-loading-text {
    font-size: 1.75em;
    letter-spacing: 1.8px;
    font-weight: 700;
    color: var(--navbar-text);
}

/* Pet Matchup Popup */
.popup-content {
    width: 950px;
}

.match-profile-left {
    padding-top: 10px;
    padding-bottom: 10px;
}

.match-profile-middle {
    padding-top: 10px;
    padding-bottom: 10px;
}

.match-profile-right {
    padding-top: 10px;
}

.match-profile-left img.profile-pic {
    height: 10vw;
    width: 10vw;
}

.match-profile-left figure {
    padding-top: 10px;
}

.match-profile-left figcaption {
    font-size: 1em;
}

.match-profile-middle .match-pet-info,
.match-profile-right .match-pet-metrics {
    margin-top: 0px;
}

.match-profile-middle .match-pet-info {
    font-size: 0.8em;
    height: 250px;
}

.match-profile-middle .match-owner-info {
    font-size: 0.8em;
    height: 197px;
}

.match-profile-middle .match-pet-info div,
.match-profile-middle .match-owner-info div {
    margin: 0.5em;
}

.match-profile-right .match-pet-metrics {
    font-size: 0.8em;
    height: 472px;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .match-profile-middle .pet-info,
    .match-profile-middle .owner-info,
    .match-profile-right .pet-metrics,
    header.panel-title {
        font-size: 0.65em;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .match-profile-middle .pet-info,
    .match-profile-middle .owner-info,
    .match-profile-right .pet-metrics,
    header.panel-title {
        font-size: 0.53em;
    }
}

/* Edit Saved Matches */
button.saved-match-delete {
    text-transform: uppercase;
    font-size: 1.65em;
    content: center;
    border: none;
    border-radius: 10%;
    background-color: var(--delete);
    color: var(--white);
    box-shadow: 0px 8px 15px #00000026;
    transition: all 0.25s ease 0s;
    cursor: pointer;
    outline: none;
    height: 25px;
    width: 25px;
    line-height: 0px;
    margin-left: 5px;
}

button.saved-match-delete:hover {
    background-color: var(--delete-dark);
    color: var(--white);
    box-shadow: 0px 15px 20px #00000031;
    color: #fff;
    transform: translateY(-3px);
}

#saved-matches-list {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    padding-left: 0;
}

span.saved-match-span:hover {
    cursor: pointer;
    font-weight: 700;
}

/***** MATCHUPS STYLING *****/
#matchups-container {
    width: 50%;
    height: 500px;
    margin-left: 25%;
    margin-top: 5px;
    box-shadow: 0px 8px 15px #00000026;
    border: 3px solid var(--pri-color-dark);
    border-radius: 25px;
    transition: all 0.25s ease 0s;

    background-image: url("images/panel_bg.jpeg");
    background-size: cover;
}

#matchups-container:hover {
    box-shadow: 0px 15px 20px #00000031;
    transform: translateY(-3px);
}

#match-profile-pic:hover {
    box-shadow: 0px 15px 20px #00000031;
    transform: translateY(-3px);
}

/* Match Column */
#matchups-match-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#match-profile,
#no-match-message {
    text-align: center;
}

/* Matchup Buttons Column */
#matchups-buttons-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Saved Matches + Search Column */
#matchups-saved-matches-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#saved-matches-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li.saved-match-item {
    margin-top: 12px;
}

#no-saved-matches-message {
    width: 60%;
    text-align: center;
    margin: auto;
}

#saved-matches-list-container {
    height: 175px;
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
    overflow-x: scroll;
}

#saved-matches-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.match-pet-info {
    padding-top: 0.3em;
}

#match-pet-name,
#match-pet-breed {
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1.8px;
    font-weight: 700;
}

#match-pet-name {
    margin-top: 1.5em;
}

#match-pet-breed {
    margin-bottom: 0.8em;
}

#matchups-buttons-column .row,
#matchups-saved-matches-column .row {
    width: 100%;
}

#matchups-buttons-column {
    padding-right: 0;
}

#matchups-saved-matches-column {
    padding-left: 0;
}

button.single-match-button {
    width: 100%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

button.saved-matches-button {
    width: 60%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#matchups-buttons-column img,
#no-match-message img {
    height: 3em;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#no-match-message img {
    height: 5em;
}

/* Search Styling  */
.search-pets-content {
    width: 750px;
    height: 500px;
}

#search-pets-header {
    height: 150px;
    background-image: url("images/panel_bg.jpeg");
    background-size: cover;

    flex-direction: column;
    display: flex;
    align-items: center;
}

#search-pets-popup-title {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    padding-top: 20px;
}

#search-pets-popup-input {
    width: 400px;
    height: 35px;
    margin-top: 15px;
    text-align: center;
}

#search-pets-content {
    height: 340px;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: var(--bg);
}

#all-pets-list {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    padding-left: 0;
}

.search-pets-item {
    margin-bottom: 10px;
}

.search-pets-item:hover {
    font-weight: 700;
}

.search-pets-item-button {
    margin-left: 20px;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #saved-matches-title,
    #match-pet-name,
    #match-pet-breed {
        font-size: 0.8em;
    }

    #match-pet-duration,
    .saved-match-span,
    #no-match-message,
    #no-saved-matches-message {
        font-size: 0.7em;
    }

    button.single-match-button,
    #edit-saved-matches-match-button,
    #done-editing-match-button,
    #search-all-pets-match-button {
        font-size: 0.75em;
        letter-spacing: 1px;
    }

    #matchups-buttons-column img {
        height: 1.5em;
    }

    #no-match-message img {
        height: 4em;
    }

    button.saved-match-delete {
        font-size: 1.2em;
        height: 15px;
        width: 15px;
    }

    #saved-matches-list-container {
        height: 125px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #saved-matches-title,
    #match-pet-name,
    #match-pet-breed {
        font-size: 0.65em;
    }

    #match-pet-duration,
    .saved-match-span,
    #no-match-message,
    #no-saved-matches-message {
        font-size: 0.6em;
    }

    #matchups-buttons-column img {
        height: 1.2em;
    }

    #no-match-message img {
        height: 3em;
    }

    button.single-match-button,
    #edit-saved-matches-match-button,
    #done-editing-match-button,
    #search-all-pets-match-button {
        font-size: 0.4em;
        letter-spacing: 0.75px;
    }

    #saved-matches-list-container {
        height: 100px;
    }
}
