.App {
}

input.form-control {
    width: 25%;
    margin: auto;
}

div#signup-form {
    display: flex;
    margin-top: 15vh;
    margin-bottom: 15vh;
    overflow: auto;
}

div#login-form {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 30vh;
    margin-bottom: 30vh;
    /* height: 100vh; */
    /* vertical-align: middle; */
    overflow: auto;
}

div.form-group {
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
}

#login-submit,
#signup-submit {
    margin: auto;
    margin-top: 2vw;
    width: 25%;
    font-size: 1.1em;
    font-weight: 650;
}

form {
    width: 100%;
    text-align: center;
}

div#signup-fields {
    display: flex;
    flex-direction: row;
}

div#signup-fields div {
    width: 50%;
    margin: auto;
}

div#signup-fields div input.form-control {
    width: 100%;
}

div#signup-fields div.left-col div.form-group {
    margin-left: auto;
    margin-right: 1vw;
}

div#signup-fields div.right-col div.form-group {
    margin-right: auto;
    margin-left: 1vw;
}
